:root {
    --primitive-accent: 210, 100%;
    --special-accent: 139, 64%;
}

.jq-example{
    color: var(--theme-brand-blue);
}

.error-message {
    font-size: 14px;
    background-color: #FFC0C5;
    margin: 0px 7px 10px;
}

.how-to-jq {
    max-width: 480px;
}

.error-message span {
    padding: 0px 5px 0px 0px;
    font-weight: bold;
    font-size: 16px;
}

@media screen and (max-width: 1450px) {
    .box-wrap {
        flex-direction: column;
    }
    .how-to-jq {
        max-width: 100%;
    }
}


/* builder */
#builder-form .field-description{
    font-size: 9px;
    line-height: 12px;
    margin-bottom: 4px;
}
#builder-form .control-label {
    font-size: 11px;
    line-height: 13px;
}

#builder-form .checkbox label {
    font-size: 11px;
    line-height: 13px;
    display: flex;
    
}

#builder-form #root__title {
    margin-bottom: 9px;
    font-size: 21px;
}

#builder-form legend {
    margin-bottom: 6px;
    font-size: 17px;
}

#builder-form input {
    width: calc(100% - 15px);
    line-height: 20px;
}

#builder-form {
    min-width: 190px;
}

#builder-page .toolbar {
    width: 100%;
    padding: 3px;
    align-items: center;
    height: 48px;
    display: flex;
    gap: 6px;
}

#builder-page .toolbar-btn {
    user-select: none;
    color: var(--theme-dark);
    cursor: pointer;
    /* border-radius: var(--theme-border-radius); */
    /* background-color: var(--theme-brand-blue); */
    height: 48px;
    font-size: 12px;
    transition: filter 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3px;
}

#builder-page .toolbar-btn:hover {
    background-color: var(--theme-background);
}

#builder-page .toolbar .btn {
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height: unset;
}

#builder-page .panel {
    width: 100%;
    height: 100%;
    /* overflow: auto; */
}

#builder-page .function-btn {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
}

#builder-page .panel.left {
    border-right: 7px solid rgb(131, 131, 131);
}

#builder-page .panel.right {
    border-left: 7px solid rgb(131, 131, 131);
}

#builder-page .node {
    background: #FFFFFF;
    border: 0.607231px solid #E9ECEF;
    /* box-shadow: 1.21446px 1.21446px 3.64339px rgba(44, 57, 75, 0.04); */
    border-radius: 2.42892px;
    padding: 15px;
    z-index: auto;
}

#builder-page .node.primitive {
    border: 1px solid hsl(var(--primitive-accent), 70%);
    box-shadow: 1.21446px 1.21446px 3.64339px hsla(var(--primitive-accent), 90%, 1.24);
    background-color: hsl(var(--primitive-accent), 90%);
}

#builder-page .node.special {
    border: 1px solid hsl(var(--special-accent), 70%);
    box-shadow: 1.21446px 1.21446px 3.64339px hsla(var(--special-accent), 90%, 1.24);
    background-color: hsl(var(--special-accent), 90%);
}

#builder-page .drawflow_content_node {
    text-align: center;
    /* display: unset; */
    /* padding: 2px; */
    color: #566875;
}

#builder-page .connection {
    z-index: 10;
}

#builder-page .connection .main-path{
    stroke: #656565;
    stroke-width: 4px; 
}

#builder-page .connection .main-path:hover{
    stroke: #a3a3a3;
}

#builder-page .parent-drawflow{
    background-size: 25px 25px;
    background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px), linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}


/* INPUTS */
#builder-page .node .inputs div {
    background-color: hsl(var(--primitive-accent), 98%);
    border: 1.5px solid #2b343b;
    z-index: 15;
}

#builder-page .node .outputs div {
    background-color: #566875;
    border: 1.5px solid #2b343b;
    background-color: hsl(var(--primitive-accent), 99%);
    z-index: 15;
}

/* #builder-page .node .inputs {
    align-self: flex-end;
    margin-right: 30px;
    z-index: 15;
}

#builder-page .node .inputs div {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    background: transparent;
    border: none;
    color: #f4f4f4;
    font-size: x-large;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}


#builder-page .node .inputs div::after {
    content: "▲";
}





#builder-page .node .outputs div::after {
    content: "▲";
}

#builder-page .node .outputs {
    position: absolute;
    bottom: 3px;
    right: 0;
    margin-right: 30px;
    z-index: 15;
}

#builder-page .node .outputs div {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    background: transparent;
    border: none;
    color: #f4f4f4;
    font-size: x-large;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}


#builder-page .node .outputs div::after {
    content: "▲";
} */


/* Actions Bar */

#builder-page .action {
    width: 100%;
    margin: 6px;
    border-radius: 2.42892px;
}
#builder-page .action.primitive {
    border: 1px solid hsl(var(--primitive-accent), 70%);
    box-shadow: 1.21446px 1.21446px 3.64339px hsla(var(--primitive-accent), 90%, 1.24);
    background-color: hsl(var(--primitive-accent), 90%);
}

#builder-page .action.special {
    border: 1px solid hsl(var(--special-accent), 70%);
    box-shadow: 1.21446px 1.21446px 3.64339px hsla(var(--special-accent), 90%, 1.24);
    background-color: hsl(var(--special-accent), 90%);
}

/* Function Bar */

#builder-page .function {
    width: 100%;
    margin: 6px;
    border-radius: 2.42892px;
}
#builder-page .function {
    border: 1px solid hsl(var(--primitive-accent), 70%);
    box-shadow: 1.21446px 1.21446px 3.64339px hsla(var(--primitive-accent), 90%, 1.24);
    background-color: hsl(var(--primitive-accent), 90%);
}


/* Special */
#root_transform_keyValue__title{
    
}

/* CONTEXT MENU */
.context-menu {
    font-size: 14px;
    background-color: #fff;
    border-radius: 2px;
    padding: 0px 2px 5px 2px;
    width: 150px;
    height: auto;
    margin: 0;
  /* use absolute positioning  */
    position: absolute;
    list-style: none;
    box-shadow: 0 0 20px 0 #ccc;
    opacity: 1;
    transition: opacity 0.5s linear;
    z-index: 90;
}

#context-menu ul {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

#context-menu li {
    cursor: pointer;
    padding-left: 5px;
}

#context-menu li:hover {
    background-color: #e5e5e5;
    padding-left: 6px;
}

#context-menu input {
    height: 24px;
}